<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>

    <style>
        body{
            display: flex;
            flex-direction: column;
            width: 100%;
            
        }
    </style>

</head>
<body>
        <form action="/form_login" method="POST">
        <h3>Username:</h3>
        <input type="text" name="username"><br>
        <h3>Password:</h3>
        <input type="password" name="password">
        <br>
        <input type="submit" value="Login" >
        
        </form>

        <h1>{{info}}</h1>

    
</body>
</html>